DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=crm
DB_PORT=3306
LARAVEL_STORAGE_PATH=
SCHEDULE_INTERVAL=60000
CEK_RESI_INTERVAL=3600000
CEK_CLIENT_INTERAVAL=2000
MESSAGE_CHECK="#####*****()"
MESSAGE_CHECK_ACK="()*****#####"